.dropdownContent {
  position: absolute;
  background-color: var(--color-secondary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  display: block;
  color: var(--color-primary);
  text-align: left;
  padding: 0.5rem;
}
