#header {
  display: flex;
  color: #ffffff;
  background-color: var(--color-tertiary);
  font-size: 1.2rem;
  // prevent text from sliding to the second line
  white-space: nowrap;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerExpandMode {
  justify-content: space-around;
}

.headerCollapseMode {
  justify-content: space-between;
}

.hamburgerMenuBtn {
  cursor: pointer;
}
