#header {
  display: flex;
  color: #ffffff;
  background-color: var(--color-tertiary);
  font-size: 1.2rem;
  // prevent text from sliding to the second line
  white-space: nowrap;

  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.headerExpandMode {
  justify-content: space-around;
}

.headerCollapseMode {
  justify-content: space-between;
}

.hamburgerMenuBtn {
  color: #fff !important;
}
