.siCard {
  height: 20rem;
  width: 20rem;
  text-align: left;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border-bottom: 7px solid rgba(20, 20, 20, 0.95) !important;
  border-right: 7px solid rgba(20, 20, 20, 0.95) !important;
  background-color: rgba(40, 40, 40, 0.85) !important;
  color: var(--color-emphasis-tint) !important;

  .cardImg {
    height: 50%;
  }

  .cardTitle {
    margin-bottom: 10px;
  }

  .cardDescription {
    font-size: 13px;
    color: rgba(220, 220, 220, 0.9);
    font-family: Roboto, sans-serif;
  }

  @media (max-width: 600px) {
    height: 25rem;
    width: 15rem;
  }

  @media (max-width: 300px) {
    height: 27rem;
    width: 13rem;
  }
}
