.card {
  display: flex;
  margin: 2rem;
  border-radius: 25px;
}

.cardColumn {
  flex-direction: column;
}

.primary_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 2;

  .media_section {
    position: relative;
    flex: 1;
  }

  .avatar {
    position: absolute;
    left: 37.5%;
    bottom: -10%;
    height: 40.5%;
    width: 25%;
  }

  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    margin-top: 5%;

    .name {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .shortDescription {
      font-size: 0.8rem;
    }

    .textSection {
      text-align: center;
      margin: 0.5rem;
    }
  }

  .primary_section_border {
    border-right: 1px solid var(--color-primary);
  }

  .socialMediaButtons {
    margin-bottom: 1rem;

    * {
      font-size: 2rem;
    }

    @media (max-width: 900px) and (min-width: 600px) {
      * {
        font-size: 1.5rem;
      }
    }
  }
}

.secondary_section {
  flex: 2;
  padding: 2rem 3rem;
}

.expandMoreButton {
  transition: all 0.5s ease;
}

.expandLess {
  transform: rotate(180deg);
}

.expandMore {
  transform: rotate(0deg);
}
