.formatter {
    max-width: 40vw;

    @media (max-width: 1200px) {
        max-width: 65vw;
    }

    @media (max-width: 900px) {
        max-width: 90vw;
    }

    @media (max-width: 600px) {
        font-size: 0.7rem;
      }

    @media (max-width: 350px) {
        max-width: 85vw;
    }
}