.left {
  transform: rotateX(90deg);
  -webkit-transform: rotate(90deg);
}

.down {
  transform: rotateX(180deg);
  -webkit-transform: rotate(180deg);
}

.right {
  transform: rotateX(270deg);
  -webkit-transform: rotate(270deg);
}
