#homeFeature{
    width: 100vw;
    background: rgba(40, 40, 40, 0.7);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (orientation: landscape) {
    .contentTitle{font-size: 50px;}
    .contentDescription{font-size: 15px;}
    .timeSymbol{
        align-self: center; 
        font-size: 40px;
    }
}
  
@media (orientation: portrait) {
    .contentTitle{font-size: 20px;}
    .contentDescription{font-size: 12px;}
    .timeSymbol{
        align-self: self-start;
        font-size: 20px;
    }
    #featureConclusion{
        font-size: 14px;
    }
}

#featureTitle{
    font-size: 25px;
    color: #C8C8FF;
    margin-bottom:30px;
}

#featureContainer{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
    margin: 0 7.5vw 0 7.5vw;
    margin-bottom: 40px;
    padding: 20px;

    border: solid grey;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contentTitle{
    //font-size: 50px;
    border-bottom: solid grey;
    color: orange;
}

.contentDescription{
    margin-top: 5px;
    text-align: left;
    //font-size: 15px;
    color: rgba(220, 220, 220, 0.9)
}
