.homeContent {
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;

  .homeTerminal {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    padding: 20px 30px 20px 30px;
    border: solid grey;
    border-bottom: none;
    
    .terminalBar{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 10px;
    }

    .terminalBtn{
      height: 20px;
      width: 20px;
      border: grey solid;
      border-radius: 100%;
      margin: 0 5px 0 5px; 
    }
  }

  @media (max-width: 900px) {
    .homeTerminal {
      font-size: 12px;
    }
  }

  .courseListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .viewAllCoursesBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .viewAllBtn {
      background-color: var(--color-warning-tone);
      text-transform: none;
      margin: 2rem auto;
      border-radius: 30px;
      width: 40%;
      min-width: 10rem;
    }
  }
}

.orangeTxt {
  color: var(--color-warning-tone);
}

.greenTxt {
  color: var(--color-success);
}

.purpleTxt {
  color: var(--color-emphasis-tint);
}
