.container {
  padding: 2.5rem 1rem;
  letter-spacing: 1px;

  @media (max-width: 600px) {
    padding: 2rem 0.5rem;
  }

  @media (max-width: 300px) {
    padding: 1rem 0rem;
  }

  .terminal {
    text-align: left;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    padding: 1rem;
    border: solid var(--color-medium);
    border-bottom: none;

    .terminalBar {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 1rem;

      .terminalBtn {
        height: 1rem;
        width: 1rem;
        border: solid var(--color-medium);
        border-radius: 100%;
        margin: 0 0.3rem;
      }
    }

    @media (max-width: 900px) {
      font-size: 0.8rem;
    }

    .orangeTxt {
      color: var(--color-warning-tone);
    }

    .greenTxt {
      color: var(--color-success);
    }

    .purpleTxt {
      color: var(--color-emphasis-tint);
    }
  }

  .courseListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: 1rem;
    }

    @media (max-width: 600px) {
      > * {
        margin: 1rem 0rem;
      }
    }
  }

  .viewAllCoursesBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .viewAllBtn {
      text-align: center;
      text-transform: none;
      background-color: var(--color-warning-tone);
      margin: 2rem auto;
      border-radius: 30px;
      width: 40%;
      min-width: 10rem;
    }
  }

  @media (max-width: 300px) {
    padding: 0.7rem;
  }
}
