.headerNavLinkContainer {
  a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover {
    color: var(--color-accent);
  }

  .headerNavLinkChild {
    display: none;
  }

  &:hover .headerNavLinkChild {
    display: block;
  }
}
