.collapseNavLinkContainer {
  a {
    color: var(--color-secondary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover {
    color: var(--color-accent);
  }

  .collapseNavLinkChild {
    display: none;
  }

  &:hover .collapseNavLinkChild {
    display: block;
  }
}
