.collapseNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  z-index: 10;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  ul {
    list-style-type: none;
  }
}

.backdrop {
  z-index: 1;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  margin-bottom: 0.8rem;

  li {
    margin: 0.8rem 0.4rem;
  }
}

.closeButton {
  color: #fff !important;
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .collapseNavBar {
    width: 100%;
  }
}
